

.sobre {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 7% 10%;
}

.sobre_texto {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.sobre_imagem {
    margin-left: 5em;
    position: relative;
    top: 4em;
}