* {
    margin: 0;
    padding: 0;
}

:root {
    --preto: #000;
    --cinza: #272727;
    --branco: #F6F6F6;
    --azul: #22D4FD;
    --azul-escuro: #20b7d8;
    --fonte-principal: "Krona One";
    --fonte-secund: "Montserrat";
}

body {
    background-color: var(--preto);
    font-family: var(--fonte-secund);
    font-size: 1.5rem;
    box-sizing: border-box;/*imagens ficam contidas no elemento pai, sem estrapolar o tamanho para fora das bordas.*/
    line-height: 1.2em;
    letter-spacing: .05rem;
}

/* Header */

.cabecalho {
    margin: 4em 10% 3em 10%;
}

.cabecalho_nav {
    display: flex;
    justify-content: flex-start;
}

.cabecalho_lista {
    display: flex;
}

.cabecalho_item {
    margin-right: 3em;
}

.cabecalho_link {
    text-decoration: none;
    color: var(--azul);
    font-weight: 600;
    text-decoration: none;
}

/* Main */

.portfolio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 7% 10%;
    gap: 1em;
}

.texto {
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: flex-start;
    margin-right: 3.5em;
}

.titulo {
    font-family: var(--fonte-principal);
    color: #F6F6F6;
    font-size: 2.25rem;
    line-height: 1.5em;
    font-weight: 400;
}

.destaque {
    color: var(--azul);
}

.descricao {
    font-family: var(--fonte-secund);
    color: #F6F6F6;
    font-size: 1.5rem;
    margin: 1.5em 0 2em 0;
}

.botoes_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes_titulo {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes_lista {
    display:  flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    margin-top: 1em;
    width: 50%;
}

.botoes_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: .75em 3em;
    border: 2px solid var(--azul);
    border-radius: 10px;
    text-align: center;
    transition: .2s;
    width: 60%;
}

.botoes_item:hover {
    background-color: var(--cinza);
}

.botoes_link {
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
    font-size: 1.5rem;
}

.descricao_imagem {
    width: 60%;
}

/* Rodapé */

.rodape {
    background-color: var(--azul);

}

.rodape_texto {
    font-family: var(--fonte-secund);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    padding: 1em;
}

@media (max-width: 1200px) {

    .cabecalho {
        margin-bottom: 5em;
    }

    .cabecalho_nav {
        text-align: center;
        justify-content: center;
    }

    .portfolio {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 3em;
        width: auto;
    }

    .texto {
        gap: .5em;
        margin: 0;
        text-align: center;
    }

}
